@charset "UTF-8";
/* Root */
@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
:root {
  --main-orange: #f18e1b;
  --main-yellow: #f8b614;
  --main-blue: #20425b;
}

/* Import */
/* Import - Reset.css */
/* Import - font-awesome */
/* CSS Start */
/* Font */
html {
  font-size: 10px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

html h1 {
  font-size: 2.6rem;
}

html h2 {
  font-size: 2.4rem;
}

html h3 {
  font-size: 2rem;
}

html p,
html a,
html span,
html li,
html table {
  font-size: 1.4rem;
}

/* Extand */
/*--轉場速度*/
.main-footer .footer-btns .btn {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*--Button*/
.main-footer .footer-btns .btn {
  background-color: var(--main-yellow);
  color: white;
  cursor: pointer;
}

.main-footer .footer-btns .btn:hover {
  background-color: var(--main-orange);
}

/* Start */
body {
  background-color: #f4f5f6;
}

body.lock-scroll {
  overflow: hidden;
}

/* Navbar */
.main-header {
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Navbar--mobile */
@media screen and (max-width: 767px) {
  .main-header {
    height: 70px;
    padding: 15px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    /*--開起選單--*/
  }
  .main-header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .logo img {
    height: auto;
    width: 130px;
    vertical-align: bottom;
  }
  .main-header .btn-menu {
    width: 40px;
    height: 40px;
    background-color: var(--main-blue);
    z-index: 2;
    cursor: pointer;
  }
  .main-header .btn-menu::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: white;
  }
  .main-header .main-nav {
    /*--預設顯單不顯示--*/
    display: none;
  }
  .main-header .main-nav .link {
    padding: 15px;
    background-color: #fafafa;
    border-bottom: #f4f5f6 solid 1px;
    cursor: pointer;
  }
  .main-header .main-nav .link a {
    color: #424242;
    font-weight: 700;
  }
  .main-header .main-nav .link:hover,
  .main-header .main-nav .link.open {
    background-color: var(--main-orange);
    border-bottom: var(--main-orange) solid 1px;
  }
  .main-header .main-nav .link:hover a,
  .main-header .main-nav .link.open a {
    color: white;
  }
  .main-header .main-nav .link.dropdown {
    position: relative;
    /*--後方十字--*/
    /*--第二層下拉選單--*/
  }
  .main-header .main-nav .link.dropdown::before, .main-header .main-nav .link.dropdown::after {
    content: "";
    position: absolute;
    background-color: var(--main-orange);
    right: 15px;
    top: 15px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .main-header .main-nav .link.dropdown.open::before, .main-header .main-nav .link.dropdown.open::after, .main-header .main-nav .link.dropdown:hover::before, .main-header .main-nav .link.dropdown:hover::after {
    background-color: white;
  }
  .main-header .main-nav .link.dropdown::before {
    width: 10px;
    height: 2px;
    margin-top: 7px;
  }
  .main-header .main-nav .link.dropdown::after {
    width: 2px;
    height: 10px;
    margin-top: 3px;
    margin-right: 4px;
  }
  .main-header .main-nav .link.dropdown ul {
    display: none;
  }
  .main-header .main-nav .link.dropdown.open::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .main-header .main-nav .link.dropdown.open ul {
    background-color: white;
    margin: 15px -15px -16px -15px;
    display: block;
    padding: 15px;
  }
  .main-header .main-nav .link.dropdown.open ul li {
    padding: 10px 0px;
    border-bottom: #f4f5f6 solid 1px;
  }
  .main-header .main-nav .link.dropdown.open ul a {
    color: #424242;
  }
  .main-header.active {
    /*--黑色遮照--*/
    /*--選單顯示--*/
    /*--按鈕圖示變更-*/
  }
  .main-header.active::before {
    content: "";
    background-color: rgba(31, 32, 34, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .main-header.active .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 70px;
    width: 200px;
    background-color: white;
  }
  .main-header.active .btn-menu::before {
    content: "\f00d";
  }
}

/* Navbar--PC */
@media screen and (min-width: 768px) {
  .main-header {
    padding: 30px 0px 20px 0px;
    border-top: 30px solid var(--main-orange);
  }
  .main-header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-header .logo img {
    height: auto;
    width: 80%;
    margin: auto;
    display: block;
  }
  .main-header .btn-menu {
    display: none;
  }
  .main-header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    /*--第二層下拉選單--*/
  }
  .main-header .main-nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .main-header .main-nav .link {
    position: relative;
    width: 25%;
  }
  .main-header .main-nav .link:hover::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    bottom: 0;
    left: 40%;
    background-color: var(--main-blue);
  }
  .main-header .main-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #424242;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
  }
  .main-header .main-nav .link.dropdown ul {
    display: none;
  }
  .main-header .main-nav .link.dropdown:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
  }
  .main-header .main-nav .link.dropdown:hover ul li:hover {
    background-color: var(--main-blue);
  }
  .main-header .main-nav .link.dropdown:hover ul li:hover a {
    color: white;
  }
  .main-header .main-nav .link.dropdown:hover ul li + li {
    border-top: 1px #e7e7e7 solid;
  }
}

/* Footer--mobile */
.main-footer {
  background-color: var(--main-blue);
  padding: 30px 0px;
}

.main-footer .footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer .footer-btns .btn {
  margin: 2px 2px;
  padding: 0 20px;
  border-radius: 5px;
  min-width: 100px;
  line-height: 40px;
}

.main-footer .footer-infos {
  padding: 10px 0px;
}

.main-footer .footer-infos .info {
  padding: 5px 0px;
  font-size: 13px;
  font-weight: 300;
  color: #aeaeae;
  letter-spacing: 0.5px;
  text-align: center;
}

/* Base */
/* 共用 */
.section-base {
  margin: 10px;
}

.section-base .container {
  background-color: white;
  min-height: calc(100vh - 350px);
  padding: 15px;
}

.section-base .side-block a {
  display: block;
  height: 40px;
  line-height: 40px;
}

/* 組件 */
.search {
  padding: 20px;
  border: 1.5px solid var(--main-blue);
}

.search input {
  width: 100%;
  margin-bottom: 5px;
  vertical-align: middle;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 0px;
  color: #414141;
  line-height: 40px;
  text-indent: 10px;
}

.search button {
  background-color: var(--main-blue);
  color: white;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search input {
    width: 70%;
    height: 40px;
  }
  .search button {
    width: 30%;
    height: 40px;
    border: 1px solid var(--main-blue);
    cursor: pointer;
  }
  .search button:hover {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}

/*--【ckeditor】*/
.ckeditor {
  font-size: 1rem;
  color: var(--fontSubDarkMode);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: break-word;
}

.ckeditor * {
  line-height: 1.6em;
}

.ckeditor p {
  width: 100%;
}

.ckeditor img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.ckeditor iframe {
  max-width: 100%;
}

.ckeditor table {
  width: 100% !important;
  border-collapse: collapse;
}

.ckeditor table th,
.ckeditor table td {
  border: 2px solid;
}

.ckeditor ol,
.ckeditor ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 2em;
}

/*--【ckeditor】*/
/* 僅手機 */
@media screen and (max-width: 767px) {
  .title-block {
    display: none;
  }
  .side-block ul {
    border: #eee solid 1px;
  }
  .side-block li {
    background-color: #fafafa;
    color: #474747;
  }
  .side-block li.active,
  .side-block li:hover {
    background-color: var(--main-orange);
    color: white;
  }
  .side-block a {
    text-align: center;
  }
  .side-block li + li a {
    border-top: #eee solid 1px;
  }
  .main-block {
    padding: 10px 0px;
  }
}

/* 平板 */
@media screen and (min-width: 768px) {
  .section-base {
    /*--最上方區塊--*/
    /*--左方區塊--*/
    /*--主要區塊--*/
  }
  .section-base .container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  }
  .section-base .title-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
  .section-base .title-block .parent-title {
    width: 25%;
    background-color: var(--main-blue);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .section-base .title-block .main-title {
    width: calc(75% - 60px);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e3e6e8;
  }
  .section-base .title-block .main-title h2 {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-base .title-block .main-title h2::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    background-color: var(--main-orange);
  }
  .section-base .side-block {
    width: 25%;
  }
  .section-base .side-block ul {
    background-color: #f4f5f6;
    padding: 10px;
  }
  .section-base .side-block li.active,
  .section-base .side-block li:hover {
    background-color: white;
    color: var(--main-orange);
  }
  .section-base .side-block a {
    text-align: left;
    padding-left: 10px;
  }
  .section-base .side-block li + li a {
    border-top: #eee solid 1px;
  }
  .section-base .main-block {
    width: 75%;
    padding: 10px 30px;
  }
}

/* Base End*/
@media screen and (min-width: 768px) {
  .section-base {
    min-height: calc(100vh - 400px);
  }
}

/* Index*/
.section-index-banner {
  margin: 10px 0px;
}

.section-index-banner .index-banner {
  width: 100%;
}

.section-index-word .info {
  padding: 20px;
  background-color: white;
}

.section-index-guides {
  margin: 10px 0px;
}

.section-index-guides .guides {
  padding: 20px;
  background-color: #f3f3f3;
}

.section-index-guides .guide .title h3 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-index-guides .guide .content {
  margin-bottom: 50px;
}

.section-index-guides .guide .content.event img {
  width: 100%;
}

.section-index-guides .guide .content.news {
  background-color: #fff;
}

.section-index-guides .guide .content.news ul {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section-index-guides .guide .content.news ul li {
  padding-left: 50px;
  position: relative;
}

.section-index-guides .guide .content.news ul li a {
  width: 100%;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: block;
  font-size: 13px;
  color: #000;
}

.section-index-guides .guide .content.news ul li span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: var(--main-blue);
}

.section-index-guides .guide .content.news ul li + li {
  margin-top: 15px;
}

.section-index-guides .guide .content.news ul li::before {
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: white;
  border-radius: 9999px;
  font-size: 12px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}

.section-index-guides .guide .content.news ul li:nth-child(1)::before {
  content: "01";
  background-color: #20425a;
}

.section-index-guides .guide .content.news ul li:nth-child(2)::before {
  content: "02";
  background-color: #f2931a;
}

.section-index-guides .guide .content.news ul li:nth-child(3)::before {
  content: "03";
  background-color: #f8b614;
}

.section-index-guides .guide .content.news ul li:nth-child(4)::before {
  content: "04";
  background-color: #f3cb68;
}

.section-index-guides .guide .content.links {
  background-color: #fff;
}

.section-index-guides .guide .content.links ul {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section-index-guides .guide .content.links ul li {
  position: relative;
}

.section-index-guides .guide .content.links ul li a {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: block;
  font-size: 13px;
  color: #000;
}

.section-index-guides .guide .content.links ul li + li {
  border-top: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .section-index-guides .guides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-index-guides .guide {
    width: calc(100% / 3);
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-index-guides .guide .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 0px;
  }
  .section-index-guides .guide .content.event img {
    width: 100%;
  }
  .section-index-guides .guide .content.news ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-index-guides .guide .content.news ul li {
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
  }
  .section-index-guides .guide .content.news ul li::before {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .section-index-guides .guide .content.links ul li {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .section-index-guides .guide .content.links ul li a {
    font-size: 20px;
  }
  .section-index-guides .guide .content.links ul li a:hover {
    background-color: var(--main-orange);
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  .section-index-guides .guide .content.news ul li::before {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

/* Index End*/
/* About-Info */
.section-info .info .info-title h3 {
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-info .info .info-title h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #20425b), color-stop(20%, #e3e6e8), to(#e3e6e8));
  background: linear-gradient(to right, #20425b 20%, #e3e6e8 20%, #e3e6e8 100%);
}

.section-info .info .info-content {
  margin-bottom: 20px;
}

.section-info .info .info-content table {
  border-top: 1px solid #20425b;
}

.section-info .info .info-content table td {
  padding: 10px 5px;
}

.section-info .info .info-content table td.bold {
  font-weight: 900;
}

.section-info .info .info-content table tr {
  border-bottom: 2px solid #f4f5f6;
}

/* About-Info End*/
/* About-Research*/
.section-research .top-message {
  border: 1px solid #eee;
  background-color: #fafafa;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
  margin-bottom: 30px;
}

.section-research .research-filter {
  margin-bottom: 50px;
}

.section-research .research-filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-research .research-filter li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #111;
  background-color: #fafafa;
}

.section-research .research-filter li.active {
  background-color: #20425b;
  color: white;
}

.section-research .research-result ul {
  padding: 10px 0px 10px 25px;
  position: relative;
}

.section-research .research-result ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 1px;
  background-color: #ddd;
}

.section-research .research {
  margin-bottom: 40px;
  position: relative;
}

.section-research .research::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -22px;
  width: 5px;
  height: 5px;
  display: block;
  background-color: #2f59ce;
}

.section-research .research .title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-research .research .sub-title {
  ont-size: 14px;
  color: #222;
}

@media screen and (min-width: 768px) {
  .section-research .top-message {
    margin: 20px 0px;
  }
  .section-research .research-filter li {
    width: 50%;
    height: 48px;
    line-height: 48px;
    position: relative;
  }
  .section-research .research-filter li:hover {
    background-color: var(--main-blue);
    color: white;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .section-research .research-filter li.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left: -8px;
    border-top: 7px solid var(--main-blue);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .section-research .research::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -24px;
    display: block;
    width: 9px;
    height: 9px;
    background-color: #ff9000;
  }
}

/* About-Research End*/
/* News*/
.section-news .news-list {
  margin: 30px 0px;
  border-top: 1px solid var(--main-blue);
}

.section-news .news-list .news-header {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0px;
  border-bottom: 1px solid #eee;
}

.section-news .news-list .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

.section-news .news-list .news-title {
  width: 70%;
}

.section-news .news-list .news-filter {
  width: 15%;
  text-align: center;
}

.section-news .news-list .news-time {
  width: 15%;
  text-align: center;
}

.section-news .news-list .news p {
  padding: 10px 0px;
}

.section-news .news-list .news-title p {
  width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-news .news-list .news .news-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-news .news-list .news-title span {
  width: 20px;
  height: 20px;
  position: relative;
}

.section-news .news-list .news-title span::after {
  content: "\f56d";
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  color: white;
  position: absolute;
  font-size: 20px;
  color: var(--main-blue);
}

.section-news .news-list .news-header .news-title {
  text-align: center;
}

.section-news .news-list .news-header p {
  padding: 5px 0px;
}

@media screen and (min-width: 768px) {
  .section-news .news-list .news p {
    padding: 20px 0px;
  }
  .section-news .news-list .news:hover {
    background-color: var(--main-orange);
  }
  .section-news .news-list .news .news-title {
    padding-left: 1rem;
  }
}

/* News End*/
/* New Detail*/
.section-news-detail .news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #ddd solid;
}

.section-news-detail .news-info .news-filter {
  padding: 10px;
  background-color: var(--main-blue);
  color: white;
  font-weight: 900;
}

.section-news-detail .news-info .news-time,
.section-news-detail .news-info .news-hits {
  padding: 10px;
  background-color: #f4f5f6;
  font-weight: 900;
  color: var(--main-blue);
}

.section-news-detail .news-info .news-time span,
.section-news-detail .news-info .news-hits span {
  font-weight: 500;
  color: black;
}

.section-news-detail .news-content {
  padding: 20px 0px;
}

.section-news-detail .news-file .title {
  color: var(--main-orange);
  font-weight: 900;
}

.section-news-detail .news-file .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin: 10px 0px 20px 0px;
  color: var(--main-blue);
}

.section-news-detail .news-file .file::before {
  content: "\f56d";
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
  color: var(--main-blue);
}

.section-news-detail .news-file .file:hover {
  text-decoration: underline;
}

.section-news-detail .news-navigation {
  border-top: 1px #ddd solid;
}

.section-news-detail .news-navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  border-bottom: 1px #ddd solid;
}

.section-news-detail .news-navigation li span {
  color: #5e738b;
  font-weight: 900;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10px;
}

.section-news-detail .news-navigation li span::before {
  content: "\f106";
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  width: 30px;
  height: 30px;
  background-color: #5e738b;
  border-radius: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-right: auto;
}

.section-news-detail .news-navigation li.next span:before {
  content: "\f107";
}

.section-news-detail .news-navigation a {
  width: calc(100% - 100px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: var(--main-blue);
}

.section-news-detail .news-navigation a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .section-news-detail .side-block {
    display: none;
  }
  .section-news-detail .title-block {
    display: block;
  }
  .section-news-detail .parent-title {
    display: none;
  }
  .section-news-detail .main-title h2 {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .section-news-detail .news-content {
    padding: 20px 20px;
  }
}

/* New Detail End*/
/* Links*/
.section-links .links-list {
  margin: 30px 0px;
  border-top: 1px solid var(--main-blue);
}

.section-links .links-list .link-header {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0px;
  border-bottom: 1px solid #eee;
}

.section-links .links-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

.section-links .links-list .link-title {
  width: 80%;
}

.section-links .links-list .link-filter {
  width: 20%;
  text-align: center;
}

.section-links .links-list .link p {
  padding: 10px 0px;
}

.section-links .links-list .link-title p {
  width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-links .links-list .link .link-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-links .links-list .link-header p {
  padding: 5px 0px;
}

@media screen and (min-width: 768px) {
  .section-links .links-list .link p {
    padding: 20px 0px;
  }
  .section-links .links-list .link:hover {
    background-color: var(--main-orange);
  }
}

/* Links End*/
/* Review */
.section-review {
  padding: 15px 0px;
}

.section-review .news {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.section-review .news .news-img img {
  width: 100%;
  height: auto;
}

.section-review .news .news-info {
  padding: 20px;
}

.section-review .news .news-info .news-title {
  font-size: 28px;
  line-height: 1.2em;
  margin-bottom: 10px;
  color: var(--main-blue);
}

.section-review .news .news-info .news-title:hover {
  color: var(--main-orange);
}

.section-review .news .news-info .news-time {
  color: #414141;
  margin-bottom: 20px;
}

.section-review .news .news-info .news-depiction {
  color: #414141;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

.section-review .news .news-info .read-more {
  background-color: var(--main-yellow);
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.section-review .news .news-info .read-more:hover {
  background-color: var(--main-orange);
}

@media screen and (min-width: 768px) {
  .section-review .conatiner {
    width: 70%;
    min-width: 650px;
    margin: auto;
  }
  .section-review .news {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: calc( 1024px * 0.5 / 450 * 300);
    margin-bottom: 40px;
  }
  .section-review .news::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc( 100% + 20px);
    background-color: #ddd;
    display: block;
  }
  .section-review .news .news-img {
    width: 50%;
  }
  .section-review .news .news-info {
    position: relative;
    z-index: 1;
    background-color: white;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 55%;
    margin-left: 45%;
    margin-top: calc( -50% / 450 * 300 + 30px);
  }
  .section-review .news .news-info .news-depiction {
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .section-review .container {
    max-width: 1200px;
  }
  .section-review .news {
    min-height: calc( 1200px * 0.45 / 450 * 300);
  }
  .section-review .news .news-img {
    width: 45%;
  }
  .section-review .news .news-info {
    width: 60%;
    margin-left: 40%;
    margin-top: calc( -45% / 450 * 300 + 30px);
  }
  .section-review .news .news-info .news-depiction {
    line-height: 1.5em;
  }
}

/* Review End*/
/*Pagination*/
.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.pagination li {
  width: 6%;
}

.pagination li a {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Calibri";
  font-weight: 900;
  padding: 10px 1em;
  border: 1px solid #ddd;
}

.pagination li a:hover, .pagination li a.active {
  background-color: #414141;
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (max-width: 900px) {
  .pagination li:not(.mobile-show) {
    display: none;
  }
  .pagination li.mobile-show {
    width: 25%;
  }
}

/*Pagination End*/
/*# sourceMappingURL=style.css.map */