@charset "UTF-8";
/* Root */
@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
:root {
  --main-orange: #f18e1b;
  --main-yellow: #f8b614;
  --main-blue: #20425b;
}

/* Import */
/* Import - Reset.css */
/* Import - font-awesome */
/* CSS Start */
/* Font */
html {
  font-size: 10px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

html h1 {
  font-size: 2.6rem;
}

html h2 {
  font-size: 2.4rem;
}

html h3 {
  font-size: 2rem;
}

html p,
html a,
html span,
html li {
  font-size: 1.4rem;
}

/* Extand */
/*--轉場速度*/
.main-footer .footer-btns .btn {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*--Button*/
.main-footer .footer-btns .btn {
  background-color: var(--main-yellow);
  color: white;
  cursor: pointer;
}

.main-footer .footer-btns .btn:hover {
  background-color: var(--main-orange);
}

/* Start */
body {
  background-color: #e7e7e7;
}

/* Navbar */
.main-header {
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Navbar--mobile */
@media screen and (max-width: 768px) {
  .main-header {
    height: 70px;
    padding: 15px 0px;
    /*--開起選單--*/
  }
  .main-header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .logo img {
    height: auto;
    width: 130px;
    vertical-align: bottom;
  }
  .main-header .btn-menu {
    width: 40px;
    height: 40px;
    background-color: var(--main-blue);
    z-index: 2;
    cursor: pointer;
  }
  .main-header .btn-menu::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: white;
  }
  .main-header .main-nav {
    /*--預設顯單不顯示--*/
    display: none;
  }
  .main-header .main-nav .link {
    padding: 15px;
    background-color: #fafafa;
    border-bottom: #f4f5f6 solid 1px;
    cursor: pointer;
  }
  .main-header .main-nav .link a {
    color: #424242;
    font-weight: 700;
  }
  .main-header .main-nav .link:hover,
  .main-header .main-nav .link.open {
    background-color: var(--main-orange);
    border-bottom: var(--main-orange) solid 1px;
  }
  .main-header .main-nav .link:hover a,
  .main-header .main-nav .link.open a {
    color: white;
  }
  .main-header .main-nav .link.dropdown {
    position: relative;
    /*--後方十字--*/
    /*--第二層下拉選單--*/
  }
  .main-header .main-nav .link.dropdown::before, .main-header .main-nav .link.dropdown::after {
    content: "";
    position: absolute;
    background-color: var(--main-orange);
    right: 15px;
    top: 15px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .main-header .main-nav .link.dropdown.open::before, .main-header .main-nav .link.dropdown.open::after, .main-header .main-nav .link.dropdown:hover::before, .main-header .main-nav .link.dropdown:hover::after {
    background-color: white;
  }
  .main-header .main-nav .link.dropdown::before {
    width: 10px;
    height: 2px;
    margin-top: 7px;
  }
  .main-header .main-nav .link.dropdown::after {
    width: 2px;
    height: 10px;
    margin-top: 3px;
    margin-right: 4px;
  }
  .main-header .main-nav .link.dropdown ul {
    display: none;
  }
  .main-header .main-nav .link.dropdown.open::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .main-header .main-nav .link.dropdown.open ul {
    background-color: white;
    margin: 15px -15px -16px -15px;
    display: block;
    padding: 15px;
  }
  .main-header .main-nav .link.dropdown.open ul li {
    padding: 10px 0px;
    border-bottom: #f4f5f6 solid 1px;
  }
  .main-header .main-nav .link.dropdown.open ul a {
    color: #424242;
  }
  .main-header.active {
    /*--黑色遮照--*/
    /*--選單顯示--*/
    /*--按鈕圖示變更-*/
  }
  .main-header.active::before {
    content: "";
    background-color: rgba(31, 32, 34, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .main-header.active .main-nav {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 70px;
    width: 200px;
    background-color: white;
  }
  .main-header.active .btn-menu::before {
    content: "\f00d";
  }
}

/* Navbar--PC */
@media screen and (min-width: 768px) {
  .main-header {
    padding: 30px 0px 20px 0px;
    border-top: 30px solid var(--main-orange);
  }
  .main-header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-header .logo img {
    height: auto;
    width: 80%;
    margin: auto;
    display: block;
  }
  .main-header .btn-menu {
    display: none;
  }
  .main-header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    /*--第二層下拉選單--*/
  }
  .main-header .main-nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .main-header .main-nav .link {
    position: relative;
    width: 25%;
  }
  .main-header .main-nav .link:hover::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    bottom: 0;
    left: 40%;
    background-color: var(--main-blue);
  }
  .main-header .main-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #424242;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
  }
  .main-header .main-nav .link.dropdown ul {
    display: none;
  }
  .main-header .main-nav .link.dropdown:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
  }
  .main-header .main-nav .link.dropdown:hover ul li:hover {
    background-color: var(--main-blue);
  }
  .main-header .main-nav .link.dropdown:hover ul li:hover a {
    color: white;
  }
  .main-header .main-nav .link.dropdown:hover ul li + li {
    border-top: 1px #e7e7e7 solid;
  }
}

/* Footer--mobile */
.main-footer {
  background-color: var(--main-blue);
  padding: 30px 0px;
}

.main-footer .footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer .footer-btns .btn {
  margin: 2px 2px;
  padding: 0 20px;
  border-radius: 5px;
  min-width: 100px;
  line-height: 40px;
}

.main-footer .footer-infos {
  padding: 10px 0px;
}

.main-footer .footer-infos .info {
  padding: 5px 0px;
  font-size: 13px;
  font-weight: 300;
  color: #aeaeae;
  letter-spacing: 0.5px;
  text-align: center;
}

/* Index*/
.section-index-banner {
  margin: 10px 0px;
}

.section-index-banner .index-banner {
  width: 100%;
}

.section-index-word .info {
  padding: 20px;
  background-color: white;
}

.section-index-guides {
  margin: 10px 0px;
}

.section-index-guides .guides {
  padding: 20px;
  background-color: #f3f3f3;
}

.section-index-guides .guide .title h3 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-index-guides .guide .content {
  margin-bottom: 50px;
}

.section-index-guides .guide .content.event img {
  width: 100%;
}

.section-index-guides .guide .content.news {
  background-color: #fff;
}

.section-index-guides .guide .content.news ul {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section-index-guides .guide .content.news ul li {
  padding-left: 50px;
  position: relative;
}

.section-index-guides .guide .content.news ul li a {
  width: 100%;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: block;
  font-size: 13px;
  color: #000;
}

.section-index-guides .guide .content.news ul li span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: var(--main-blue);
}

.section-index-guides .guide .content.news ul li + li {
  margin-top: 15px;
}

.section-index-guides .guide .content.news ul li::before {
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: white;
  border-radius: 9999px;
  font-size: 12px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}

.section-index-guides .guide .content.news ul li:nth-child(1)::before {
  content: "01";
  background-color: #20425a;
}

.section-index-guides .guide .content.news ul li:nth-child(2)::before {
  content: "02";
  background-color: #f2931a;
}

.section-index-guides .guide .content.news ul li:nth-child(3)::before {
  content: "03";
  background-color: #f8b614;
}

.section-index-guides .guide .content.news ul li:nth-child(4)::before {
  content: "04";
  background-color: #f3cb68;
}

.section-index-guides .guide .content.links {
  background-color: #fff;
}

.section-index-guides .guide .content.links ul {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section-index-guides .guide .content.links ul li {
  position: relative;
}

.section-index-guides .guide .content.links ul li a {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: block;
  font-size: 13px;
  color: #000;
}

.section-index-guides .guide .content.links ul li + li {
  border-top: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .section-index-guides .guides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-index-guides .guide {
    width: calc(100% / 3);
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-index-guides .guide .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 0px;
  }
  .section-index-guides .guide .content.event img {
    width: 100%;
  }
  .section-index-guides .guide .content.news ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-index-guides .guide .content.news ul li {
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
  }
  .section-index-guides .guide .content.news ul li::before {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .section-index-guides .guide .content.links ul li {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .section-index-guides .guide .content.links ul li a {
    font-size: 20px;
  }
  .section-index-guides .guide .content.links ul li a:hover {
    background-color: var(--main-orange);
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  .section-index-guides .guide .content.news ul li::before {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */