/* Root */
:root {
  --main-orange: #f18e1b;
  --main-yellow: #f8b614;
  --main-blue: #20425b;
}

/* Import */
/* Import - Reset.css */
@import url("reset.css");
/* Import - font-awesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

/* CSS Start */
/* Font */
html {
  font-size: 10px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  a,
  span,
  li,
  table {
    font-size: 1.4rem;
  }
}

/* Extand */
/*--轉場速度*/
%sbs {
  transition: all 0.3s linear;
}
/*--Button*/
%btn-yellow {
  background-color: var(--main-yellow);
  color: white;
  cursor: pointer;
  &:hover {
    background-color: var(--main-orange);
  }
}
/* Start */
body {
  background-color: #f4f5f6;
}
@media screen and (max-width: 767px) {
  &.lock-scroll {
    overflow: hidden;
  }
}
/* Navbar */
.main-header {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  .container {
    display: flex;
  }
}
/* Navbar--mobile */
@media screen and (max-width: 767px) {
  .main-header {
    height: 70px;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    .container {
      justify-content: space-between;
      align-items: center;
    }
    .logo img {
      height: auto;
      width: 130px;
      vertical-align: bottom;
    }
    .btn-menu {
      width: 40px;
      height: 40px;
      background-color: var(--main-blue);
      z-index: 2;
      cursor: pointer;
      &::before {
        content: "\f0c9";
        font-family: "Font Awesome 6 free";
        font-weight: 900;
        color: white;
      }
    }
    .main-nav {
      /*--預設顯單不顯示--*/
      display: none;
      .link {
        padding: 15px;
        background-color: #fafafa;
        border-bottom: #f4f5f6 solid 1px;
        cursor: pointer;
        a {
          color: #424242;
          font-weight: 700;
        }
      }
      .link:hover,
      .link.open {
        background-color: var(--main-orange);
        border-bottom: var(--main-orange) solid 1px;
        a {
          color: white;
        }
      }
      .link.dropdown {
        position: relative;
        /*--後方十字--*/
        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: var(--main-orange);
          right: 15px;
          top: 15px;
          transition: all 0.3s linear;
        }
        &.open::before,
        &.open::after,
        &:hover::before,
        &:hover::after {
          background-color: white;
        }
        //Font size 16px
        &::before {
          width: 10px;
          height: 2px;
          margin-top: 7px;
        }
        &::after {
          width: 2px;
          height: 10px;
          margin-top: 3px;
          margin-right: 4px;
        }
        /*--第二層下拉選單--*/
        ul {
          display: none;
        }
        &.open {
          &::after {
            transform: rotate(90deg);
            transition: all 0.3s linear;
          }
          ul {
            background-color: white;
            margin: 15px -15px -16px -15px;
            display: block;
            padding: 15px;
            li {
              padding: 10px 0px;
              border-bottom: #f4f5f6 solid 1px;
            }
            a {
              color: #424242;
            }
          }
        }
      }
    }
    /*--開起選單--*/
    &.active {
      /*--黑色遮照--*/
      &::before {
        content: "";
        background-color: rgba(31, 32, 34, 0.85);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
      }
      /*--選單顯示--*/
      .main-nav {
        display: block;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        padding-top: 70px;
        width: 200px;
        background-color: white;
      }
      /*--按鈕圖示變更-*/
      .btn-menu {
        &::before {
          content: "\f00d";
        }
      }
    }
  }
}
/* Navbar--PC */
@media screen and (min-width: 768px) {
  .main-header {
    padding: 30px 0px 20px 0px;
    border-top: 30px solid var(--main-orange);
    .container {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .logo img {
      height: auto;
      width: 80%;
      margin: auto;
      display: block;
    }
    .btn-menu {
      display: none;
    }
    .main-nav {
      display: flex;
      width: 100%;
      .links {
        display: flex;
        width: 100%;
      }
      .link {
        position: relative;
        width: 25%;
        &:hover::after {
          content: "";
          position: absolute;
          width: 20%;
          height: 5px;
          bottom: 0;
          left: 40%;
          background-color: var(--main-blue);
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #424242;
        font-weight: 700;
        height: 60px;
        line-height: 60px;
        font-size: 2rem;
      }
      /*--第二層下拉選單--*/
      .link.dropdown {
        ul {
          display: none;
        }
        &:hover {
          ul {
            display: flex;
            width: 100%;
            flex-direction: column;
            position: absolute;
            background-color: white;
            border: 1px solid #e7e7e7;
            border-radius: 5px;
            z-index: 5;
            li:hover {
              background-color: var(--main-blue);
              a {
                color: white;
              }
            }
            li + li {
              border-top: 1px #e7e7e7 solid;
            }
          }
        }
      }
    }
  }
}

/* Footer--mobile */
.main-footer {
  background-color: var(--main-blue);
  padding: 30px 0px;
  .footer-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .btn {
      margin: 2px 2px;
      padding: 0 20px;
      border-radius: 5px;
      min-width: 100px;
      line-height: 40px;
      @extend %sbs;
      @extend %btn-yellow;
    }
  }
  .footer-infos {
    padding: 10px 0px;
    .info {
      padding: 5px 0px;
      font-size: 13px;
      font-weight: 300;
      color: #aeaeae;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }
}
/* Base */
/* 共用 */
.section-base {
  margin: 10px;
  .container {
    background-color: white;
    min-height: calc(100vh - 350px);
    padding: 15px;
  }
  .side-block {
    a {
      display: block;
      height: 40px;
      line-height: 40px;
    }
  }
}
/* 組件 */
.search {
  padding: 20px;
  border: 1.5px solid var(--main-blue);
  input {
    width: 100%;
    margin-bottom: 5px;
    vertical-align: middle;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 0px;
    color: #414141;
    line-height: 40px;
    text-indent: 10px;
  }
  button {
    background-color: var(--main-blue);
    color: white;
    width: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .search {
    display: flex;
    input {
      width: 70%;
      height: 40px;
    }
    button {
      width: 30%;
      height: 40px;
      border: 1px solid var(--main-blue);
      cursor: pointer;
    }
    button:hover {
      background-color: var(--main-orange);
      border-color: var(--main-orange);
      transition: all 0.2s linear;
    }
  }
}

/*--【ckeditor】*/
.ckeditor {
  font-size: 1rem;
  color: var(--fontSubDarkMode);
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  * {
    line-height: 1.6em;
    font-size: inherit;
  }
  p {
    width: 100%;
    font-size: 16px;
  }
  img {
    width: 100% !important;
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
  }
  table {
    width: 100% !important;
    border-collapse: collapse;
    th,
    td {
      border: 2px solid;
    }
  }
  ol,
  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 2em;
  }
}
/*--【ckeditor】*/

/* 僅手機 */
@media screen and (max-width: 767px) {
  .title-block {
    display: none;
  }
  .side-block {
    ul {
      border: #eee solid 1px;
    }
    li {
      background-color: #fafafa;
      color: #474747;
    }
    li.active,
    li:hover {
      background-color: var(--main-orange);
      color: white;
    }
    a {
      text-align: center;
    }
    li + li a {
      border-top: #eee solid 1px;
    }
  }
  .main-block {
    padding: 10px 0px;
  }
}
/* 平板 */
@media screen and (min-width: 768px) {
  .section-base {
    .container {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    }
    /*--最上方區塊--*/
    .title-block {
      width: 100%;
      display: flex;
      height: 80px;
      .parent-title {
        width: 25%;
        background-color: var(--main-blue);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .main-title {
        width: calc(75% - 60px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e3e6e8;
      }
      .main-title h2 {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .main-title h2::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: -1px;
        left: 0;
        background-color: var(--main-orange);
      }
    }
    /*--左方區塊--*/
    .side-block {
      width: 25%;
      ul {
        background-color: #f4f5f6;
        padding: 10px;
      }
      li.active,
      li:hover {
        background-color: white;
        color: var(--main-orange);
      }
      a {
        text-align: left;
        padding-left: 10px;
      }
      li + li a {
        border-top: #eee solid 1px;
      }
    }
    /*--主要區塊--*/
    .main-block {
      width: 75%;
      padding: 10px 30px;
    }
  }
}

/* Base End*/
@media screen and (min-width: 768px) {
  .section-base {
    min-height: calc(100vh - 400px);
  }
}
/* Index*/
.section-index-banner {
  margin: 10px 0px;
  .index-banner {
    width: 100%;
  }
}
.section-index-word {
  .info {
    padding: 20px;
    background-color: white;
  }
}
.section-index-guides {
  margin: 10px 0px;
  .guides {
    padding: 20px;
    background-color: #f3f3f3;
  }
  .guide {
    .title h3 {
      line-height: 22px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .content {
      margin-bottom: 50px;
      &.event {
        img {
          width: 100%;
          aspect-ratio: 1/1;
        }
      }
      &.news {
        background-color: #fff;
        ul {
          padding: 20px 25px;
          display: flex;
          flex-direction: column;
          height: 100%;
          li {
            padding-left: 50px;
            position: relative;
            a {
              width: 100%;
              height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              display: block;
              font-size: 13px;
              color: #000;
            }
            span {
              display: block;
              font-size: 13px;
              line-height: 20px;
              color: var(--main-blue);
            }
          }
          li + li {
            margin-top: 15px;
          }
          li::before {
            width: 30px;
            height: 30px;
            font-size: 15px;
            color: white;
            border-radius: 9999px;
            font-size: 12px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
          }
          li:nth-child(1)::before {
            content: "01";
            background-color: #20425a;
          }
          li:nth-child(2)::before {
            content: "02";
            background-color: #f2931a;
          }
          li:nth-child(3)::before {
            content: "03";
            background-color: #f8b614;
          }
          li:nth-child(4)::before {
            content: "04";
            background-color: #f3cb68;
          }
        }
      }
      &.links {
        background-color: #fff;
        ul {
          padding: 20px 25px;
          display: flex;
          flex-direction: column;
          height: 100%;
          li {
            position: relative;
            a {
              width: 100%;
              padding: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              display: block;
              font-size: 13px;
              color: #000;
            }
          }
          li + li {
            border-top: 1px solid #000;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-index-guides {
    .guides {
      display: flex;
    }
    .guide {
      width: calc(100% / 3);
      padding: 10px;
      display: flex;
      flex-direction: column;
      .content {
        flex: 1 1 auto;
        margin-bottom: 0px;
        aspect-ratio: 1;
        overflow: hidden;
        &.event {
          img {
            width: 100%;
          }
        }
        &.news {
          ul {
            padding: 10px;
            justify-content: space-between;
            li {
              padding-left: 40px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 30px;
              a {
                height: 18px;
                line-height: 18px;
              }
              span {
                height: 12px;
                line-height: 12px;
              }
            }
            li::before {
              width: 30px;
              height: 30px;
              font-size: 18px;
            }
          }
        }
        &.links {
          ul {
            padding: 10px;
            li {
              height: 16%;
              display: flex;
              align-items: center;
              margin: 0;
              a {
                font-size: 18px;
              }
              a:hover {
                background-color: var(--main-orange);
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .section-index-guides {
    .guide {
      .content {
        &.news {
          ul {
            li {
              padding-left: 50px;
              height: 60px;
              a {
                height: 20px;
                line-height: 20px;
              }
              span {
                height: 16px;
                line-height: 16px;
              }
            }
            li::before {
              top: 10px;
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-index-guides {
    .guide {
      .content {
        &.news {
          ul {
            li {
              padding-left: 70px;
              height: 90px;
              a {
                height: 30px;
                line-height: 30px;
                font-size: 20px;
              }
              span {
                height: 20px;
                line-height: 20px;
              }
            }
            li::before {
              top: 15px;
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}
/* Index End*/
/* About-Info */
.section-info {
  .top-message {
    border: 1px solid #eee;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    margin-bottom: 30px;
  }
  .info {
    .info-title h3 {
      font-size: 18px;
      line-height: 24px;
      vertical-align: middle;
      position: relative;
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .info-title h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50px;
      height: 4px;
      background: linear-gradient(to right, #20425b 20%, #e3e6e8 20%, #e3e6e8 100%);
    }
    .info-content {
      margin-bottom: 20px;
      table {
        width: 100%;
        td {
          padding: 10px 5px;
        }
        td.bold {
          font-weight: 900;
        }
        tr {
          border-bottom: 2px solid #f4f5f6;
        }
      }
    }
  }
}
/* About-Info End*/

/* About-Research*/
.section-research {
  .top-message {
    border: 1px solid #eee;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    margin-bottom: 30px;
  }
  .research-filter {
    margin-bottom: 50px;
  }
  .research-filter ul {
    display: flex;
    flex-wrap: wrap;
  }
  .research-filter li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color: #111;
    background-color: #fafafa;
  }
  .research-filter li.active {
    background-color: #20425b;
    color: white;
  }
  .research-result{
    overflow-x: hidden;
  }
  .research-result ul {
    padding: 10px 0px 10px 25px;
    position: relative;
    display: none;
  }
  .research-result ul.show {
    display: block;
  }
  .research-result ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    width: 1px;
    background-color: #ddd;
  }
  .research {
    margin-bottom: 40px;
    position: relative;
  }
  .research::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -22px;
    width: 5px;
    height: 5px;
    display: block;
    background-color: #2f59ce;
  }
  .research .title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .research .sub-title {
    ont-size: 14px;
    color: #222;
  }
}
@media screen and (min-width: 768px) {
  .section-research {
    .top-message {
      margin: 20px 0px;
    }
    .research-filter li {
      width: 50%;
      height: 48px;
      line-height: 48px;
      position: relative;
    }
    .research-filter li:hover {
      background-color: var(--main-blue);
      color: white;
      transition: all 0.3s linear;
    }
    .research-filter li.active::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -7px;
      margin-left: -8px;
      border-top: 7px solid var(--main-blue);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    .research::before {
      content: "";
      position: absolute;
      top: 0px;
      left: -24px;
      display: block;
      width: 9px;
      height: 9px;
      background-color: #ff9000;
    }
  }
}
/* About-Research End*/

/* News*/
.section-news {
  .news-list {
    margin: 30px 0px;
    border-top: 1px solid var(--main-blue);
    .news-header {
      background-color: #fafafa;
      display: flex;
      padding: 7px 0px;
      border-bottom: 1px solid #eee;
    }
    .news {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      position: relative;
    }
    .news.top ::before {
      content: "";
      width: 4px;
      height: 100%;
      position: absolute;
      background-color: var(--main-yellow);
      left: 0;
      top: 0;
    }
    .news-title {
      width: 70%;
    }
    .news-filter {
      width: 15%;
      text-align: center;
    }
    .news-time {
      width: 15%;
      text-align: center;
    }
    .news p {
      padding: 10px 0px;
    }

    .news-title p {
      width: calc(100% - 20px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .news .news-title {
      display: flex;
      align-items: center;
    }
    .news-title span {
      width: 20px;
      height: 20px;
      position: relative;
    }
    .news-title span::after {
      content: "\f56d";
      font-family: "Font Awesome 6 free";
      font-weight: 900;
      color: white;
      position: absolute;
      font-size: 20px;
      color: var(--main-blue);
    }

    .news-header .news-title {
      text-align: center;
    }
    .news-header p {
      padding: 5px 0px;
    }
  }
}
@media screen and (min-width: 768px) {
  .section-news {
    .news-list {
      .news p {
        padding: 20px 0px;
      }
      .news:hover {
        background-color: var(--main-orange);
      }
      .news .news-title {
        padding-left: 1rem;
      }
    }
  }
}
/* News End*/

/* New Detail*/
.section-news-detail {
  .news-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #ddd solid;
  }
  .news-info .news-filter {
    padding: 10px;
    background-color: var(--main-blue);
    color: white;
    font-weight: 900;
  }
  .news-info .news-time,
  .news-info .news-hits {
    padding: 10px;
    background-color: #f4f5f6;
    font-weight: 900;
    color: var(--main-blue);
    span {
      font-weight: 500;
      color: black;
    }
  }
  .news-content {
    padding: 20px 0px;
  }
  .news-file {
    .title {
      color: var(--main-orange);
      font-weight: 900;
    }
    .file {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-top: 1px #ddd solid;
      border-bottom: 1px #ddd solid;
      margin: 10px 0px 20px 0px;
      color: var(--main-blue);
    }
    .file::before {
      content: "\f56d";
      font-family: "Font Awesome 6 free";
      font-weight: 900;
      width: 30px;
      height: 30px;
      font-size: 30px;
      margin-right: 10px;
      color: var(--main-blue);
    }
    .file:hover {
      text-decoration: underline;
    }
  }

  .news-navigation {
    border-top: 1px #ddd solid;
    li {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      border-bottom: 1px #ddd solid;
    }
    li span {
      color: #5e738b;
      font-weight: 900;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 10px;
    }
    li span::before {
      content: "\f106";
      font-family: "Font Awesome 6 free";
      font-weight: 900;
      width: 30px;
      height: 30px;
      background-color: #5e738b;
      border-radius: 99px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: auto;
    }
    li.next span:before {
      content: "\f107";
    }
    a {
      width: calc(100% - 100px);
      flex: 1 1 auto;
      color: var(--main-blue);
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 767px) {
  .section-news-detail {
    .side-block {
      display: none;
    }
    .title-block {
      display: block;
    }
    .parent-title {
      display: none;
    }
    .main-title h2 {
      position: relative;
    }
  }
}

@media screen and (min-width: 768px) {
  .section-news-detail {
    .news-content {
      padding: 20px 20px;
    }
  }
}
/* New Detail End*/

/* Links*/
.section-links {
  .links-list {
    margin: 30px 0px;
    border-top: 1px solid var(--main-blue);
    .link-header {
      background-color: #fafafa;
      display: flex;
      padding: 7px 0px;
      border-bottom: 1px solid #eee;
    }
    .link {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
    }
    .link-title {
      width: 80%;
    }
    .link-filter {
      width: 20%;
      text-align: center;
    }
    .link p {
      padding: 10px 0px;
    }

    .link-title p {
      width: calc(100% - 20px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .link .link-title {
      display: flex;
      align-items: center;
    }
    .link-header p {
      padding: 5px 0px;
    }
  }
}
@media screen and (min-width: 768px) {
  .section-links {
    .links-list {
      .link p {
        padding: 20px 0px;
      }
      .link:hover {
        background-color: var(--main-orange);
      }
    }
  }
}
/* Links End*/

/* Review */
.section-review {
  padding: 15px 0px;
  .news {
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    .news-img img {
      width: 100%;
      height: auto;
    }
    .news-info {
      padding: 20px;
      .news-title {
        font-size: 28px;
        line-height: 1.2em;
        margin-bottom: 10px;
        color: var(--main-blue);
        &:hover {
          color: var(--main-orange);
        }
      }
      .news-time {
        color: #414141;
        margin-bottom: 20px;
      }
      .news-depiction {
        color: #414141;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 1.2em;
      }
      .read-more {
        background-color: var(--main-yellow);
        padding: 5px 10px;
        color: white;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
          background-color: var(--main-orange);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-review {
    .container {
      width: 70%;
      min-width: 650px;
      margin: auto;
    }
    .news {
      position: relative;
      box-shadow: none;
      min-height: calc(1024px * 0.5 / 450 * 300);
      margin-bottom: 40px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: calc(100% + 20px);
        background-color: #ddd;
        display: block;
      }
      .news-img {
        width: 50%;
      }
      .news-info {
        position: relative;
        z-index: 1;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        width: 55%;
        margin-left: 45%;
        margin-top: calc(-50% / 450 * 300 + 30px);
        .news-depiction {
          line-height: 1.5em;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-review {
    .container {
      max-width: 1200px;
    }
    .news {
      min-height: calc(1200px * 0.45 / 450 * 300);
      .news-img {
        width: 45%;
      }
      .news-info {
        width: 60%;
        margin-left: 40%;
        margin-top: calc(-45% / 450 * 300 + 30px);
        .news-depiction {
          line-height: 1.5em;
        }
      }
    }
  }
}
/* Review End*/

/* Review-detail*/
@media screen and (max-width: 767px) {
  .section-review-detail {
    .side-block {
      display: none;
    }
    .title-block {
      display: block;
      .main-title {
        display: flex;
        flex-direction: column;
        h2 {
          margin-top: 10px;
        }
      }
    }
    .parent-title {
      display: none;
    }
  }
}

.section-review-detail {
  .news-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #ddd solid;
  }

  .news-info .news-time {
    padding: 10px;
    background-color: #f4f5f6;
    font-weight: 900;
    color: var(--main-blue);
    span {
      font-weight: 500;
      color: black;
    }
  }
  .news-content {
    padding: 20px 0px;
  }
  .news-gallery {
    .title {
      color: var(--main-orange);
      font-weight: 900;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .news-navigation {
    border-top: 1px #ddd solid;
    li {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      border-bottom: 1px #ddd solid;
    }
    li span {
      color: #5e738b;
      font-weight: 900;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 10px;
    }
    li span::before {
      content: "\f106";
      font-family: "Font Awesome 6 free";
      font-weight: 900;
      width: 30px;
      height: 30px;
      background-color: #5e738b;
      border-radius: 99px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: auto;
    }
    li.next span:before {
      content: "\f107";
    }
    a {
      width: calc(100% - 100px);
      flex: 1 1 auto;
      color: var(--main-blue);
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .figures {
    display: flex;
    flex-wrap: wrap;
    figure {
      width: 49.75%;
      padding-bottom: 49.75%;
      margin: 0.125%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-review-detail {
    .title-block {
      .main-title img {
        display: none;
      }
    }
    .figures {
      figure {
        width: 23%;
        margin: 1%;
        padding-bottom: 25%;
      }
    }
  }
}

/* Review-detail End*/

/* Photoswipe */
.pswp__bg {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Pagination*/
.pagination {
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  li {
    width: 6%;
    a {
      display: block;
      width: 100%;
      text-align: center;
      font-family: "Calibri";
      font-weight: 900;
      padding: 10px 1em;
      border: 1px solid #ddd;
      &:hover,
      &.active {
        background-color: #414141;
        color: white;
        transition: all 0.2s linear;
      }
    }
  }
  @media (max-width: 900px) {
    li:not(.mobile-show) {
      display: none;
    }
    li.mobile-show {
      width: 25%;
    }
  }
}
/*Pagination End*/
